absl-py==2.2.2
aiodns==3.2.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.5
aiosignal==1.3.2
alabaster==0.7.16
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
appdirs==1.4.4
argcomplete==3.6.2
arrow==1.2.3
astroid==3.3.8
asttokens==2.4.1
asyncssh==2.14.2
atomicwrites==1.4.1
attrs==24.2.0
Authlib==1.3.2
autobahn==23.6.2
Automat==22.10.0
autopep8==2.2.0
azure-core==1.30.2
azure-storage-blob==12.20.0
b2sdk==1.21.0
babel==2.17.0
backoff==2.2.1
bcrypt==4.1.2
Beaker==1.12.1
beautifulsoup4==4.13.4
binaryornot==0.4.4
black==24.4.2
bleach==6.2.0
blivet==3.11.0
blivet-gui==2.6.0
blosc2==2.5.1
bodhi-client==25.5.1
borgbackup==1.4.1
boto==2.49.0
boto3==1.38.46
botocore==1.38.46
Bottleneck==1.3.7
breezy==3.3.8
Brotli==1.1.0
cached-property==1.5.2
cachetools==5.4.0
CCColUtils==1.5
ceph==1.0.0
cephfs==2.0.0
certifi==2023.5.7
cffi==1.17.0
cftime==1.6.4
chardet==5.2.0
charset-normalizer==3.3.2
Cheetah3==3.2.6.post1
click==8.1.7
click-plugins==1.1.1
cloudpickle==3.1.0
colored==2.2.4
comm==0.2.2
configobj==5.0.8
constantly==15.1.0
construct==2.10.70
contourpy==1.3.2
cookiecutter==2.6.0
crypt_r==3.13.1
cryptography==43.0.0
cson==0.8
cssselect==1.1.0
cupshelpers==1.0
cycler==0.11.0
Cython==3.0.11
dasbus==1.7
dbus-python==1.3.2
debtcollector==3.0.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.15
diff-match-patch==20230430
dill==0.3.9
distlib==0.3.8
distro==1.9.0
dnf==4.23.0
dnspython==2.6.1
docstring-to-markdown==0.16
docutils==0.20.1
dropbox==12.0.2
dulwich==0.21.7
duplicity==3.0.4.1
easygui==0.96
email_validator==2.2.0
et_xmlfile==1.1.0
executing==2.2.0
fastbencode==0.2
fasteners==0.19
fastjsonschema==2.19.1
fedora-review==0.10.0
fedora-third-party==0.10
fedpkg==1.46
fedrq==1.5.0
feedparser==6.0.11
file-magic==0.4.0
filelock==3.15.4
flake8==6.1.0
fonttools==4.53.1
frozenlist==1.5.0
fs==2.4.16
fsspec==2025.3.2
gcsfs==2024.9.0
git-cola==4.13.0
gitdb==4.0.10
GitPython==3.1.40
gmpy2==2.2.1
google-api-core==2.11.1
google-api-python-client==2.140.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.8.0
google-cloud-core==2.3.3
google-cloud-storage==2.14.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.63.0
greenlet==3.1.1
grpcio==1.48.4
grpcio-status==1.48.4
gssapi==1.7.3
h5py==3.11.0
helpdev==0.7.1
html5lib==1.1
httplib2==0.21.0
humanize==4.9.0
hyperlink==21.0.0
idna==3.7
imagesize==1.4.1
img2pdf==0.5.1
importlib_metadata==8.2.0
incremental==24.7.2
inflection==0.5.1
iniparse==0.5
initial-setup==0.3.101
inkex==1.4.0
intervaltree==3.1.0
IPy==1.1
ipykernel==6.29.3
ipython==8.26.0
iso639==0.1.4
iso8601==1.1.0
isodate==0.6.1
isort==5.13.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
jdcal==1.4.1
jedi==0.19.1
jeepney==0.8.0
jellyfish==0.9.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
jsonpickle==3.4.2
jsonschema==4.19.1
jsonschema-specifications==2023.11.2
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keyring==25.6.0
keyrings.alt==5.0.2
keystoneauth1==5.6.0
kitchen==1.2.6
kiwisolver==1.4.8
koji==1.35.2
krb5==0.5.1
langtable==0.0.68
lark==1.1.9
latex-rubber==1.6.1
launchpadlib==2.0.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
ldap3==2.9.1
legacy-cgi==2.6.2
libcomps==0.1.21
libdnf==0.74.0
libsass==0.23.0
llfuse==1.5.0
lockfile==0.12.2
logfury==1.0.1
lxml==5.3.2
lz4==4.3.3
Mako==1.2.3
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe==2.1.5
matplotlib==3.9.4
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mercurial==6.8.2
merge3==0.0.13
mistune==2.0.4
more-itertools==10.1.0
mpmath==1.3.0
msgpack==1.0.6
multidict==6.0.5
munch==2.5.0
mypy_extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.9.2
ndindex==1.7
nest_asyncio==1.6.0
netaddr==1.3.0
netCDF4==1.7.1
netifaces==0.11.0
nftables==0.1
notify2==0.3.1
numexpr==2.8.5
numpy==1.26.4
numpydoc==1.7.0
oauth2client==4.1.3
oauthlib==3.2.2
odfpy==1.4.1
offlineimap==8.0.0
olefile==0.47
openidc-client==0.7.0
openpyxl==3.1.2
openshot-qt==3.2.1
os-service-types==1.7.0
oslo.config==9.6.0
oslo.i18n==6.3.0
oslo.serialization==5.4.0
oslo.utils==7.1.0
packaging==24.2
pandas==2.2.1
pandocfilters==1.5.1
paramiko==3.5.1
parso==0.8.4
Paste==3.10.1
pathspec==0.12.1
patiencediff==0.2.15
pbr==5.11.1
pdfarranger==1.12.0
pdftools.pdfposter==0.7.post1
perf==0.1
pexpect==4.9.0
pickleshare==0.7.5
pid==2.2.3
pikepdf==9.9.0
pillow==11.0.0
platformdirs==4.2.2
pluggy==1.5.0
ply==3.11
podman-compose==1.4.1
polib==1.2.0
pooch==1.8.2
prettytable==3.10.0
productmd==1.45
progressbar2==3.53.2
prompt_toolkit==3.0.41
protobuf==3.19.6
psutil==5.9.8
psycopg2==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybeam==0.8
pycairo==1.25.1
pycares==4.9.0
pycodestyle==2.11.1
pycosat==0.6.6
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.21.0
pycups==2.0.4
pycurl==7.45.3
pydantic==2.10.6
pydantic_core==2.27.2
pydbus==0.6.0
pydocstyle==6.3.0
PyDrive2==1.20.0
pyenchant==3.2.2
pyflakes==3.1.0
pygit2==1.17.0
PyGithub==2.3.0
pyglet==2.0.10
Pygments==2.18.0
PyGObject==3.48.2
pyinotify==0.9.6
PyJWT==2.8.0
pykickstart==3.58
pylint==3.3.7
pylint-venv==3.0.2
pyls-spyder==0.4.0
PyMySQL==1.1.1
PyNaCl==1.5.0
pyOpenSSL==24.2.1
pyparsing==3.1.2
pyparted==3.13.0
PyPDF2==1.26.0
pyproj==3.7.0
PyQt5==5.15.11
PyQt5_sip==12.15.0
PyQt6==6.8.1
PyQt6_sip==13.9.1
PyQtWebEngine==5.15.6
pyroute2==0.7.12
pyserial==3.5
pysmb==1.2.4
pysmbc==1.0.25.1
PySocks==1.7.1
pyspnego==0.11.1
python-augeas==1.1.0
python-bugzilla==3.3.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-fedora==1.1.1
python-keystoneclient==5.4.0
python-linux-procfs==0.7.3
python-lsp-black==2.0.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.12.0
python-meh==0.52
python-pam==2.0.2
python-slugify==6.1.2
python-swiftclient==4.5.0
python-utils==3.7.0
pytoolconfig==1.3.1
pytz==2025.2
pyuca==1.2
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.1
pyynl @ file:///builddir/build/BUILD/kernel-6.14.4-build/kernel-6.14.4/linux-6.14.4-200.fc41.x86_64/tools/net/ynl
pyzmq==25.1.2
QDarkStyle==3.2.3
qstylizer==0.2.3
QtAwesome==1.4.0
qtconsole==5.6.1
QtPy==2.4.1
qtsass==0.4.0
rabbitvcs==0.19
rados==2.0.0
ranger-fm==1.9.4
rapidfuzz==3.5.2
rbd==2.0.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==2.0.0
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-kerberos==0.14.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
rgw==2.0.0
rich==13.7.1
rope==1.13.0
rpds-py==0.19.1
rpkg==1.68
rpm==4.20.1
rpmautospec==0.8.1
rpmautospec-core==0.1.5
rpmlint==2.6.1
rsa==4.9
rtree==1.4.0
s3transfer==0.13.0
scikit-learn==1.4.1.post1
SciPy==1.11.3
SCons==4.9.1
scour==0.38.2
SecretStorage==3.3.3
selinux @ file:///builddir/build/BUILD/libselinux-3.7-build/libselinux-3.7/src
Send2Trash==1.8.2
sentry-sdk==2.17.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.7-build/selinux-3.7/python/sepolicy
service-identity==23.1.0
setools==4.5.1
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.35-build/setroubleshoot-3.3.35/src
setuptools==69.2.0
sgmllib3k==1.0.0
shtab==1.7.1
simpleaudio==1.0.4
simplejson==3.19.2
simpleline==1.9.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sos==4.9.1
soupsieve==2.7
speg==0.3
Sphinx==7.3.7
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==1.1.9
spur==0.3.23
spyder==6.0.5
spyder-kernels==3.0.3
SQLAlchemy==2.0.41
SSSDConfig==2.11.0
stack_data==0.6.3
stevedore==5.2.0
stone==3.2.1
straight.plugin==1.5.0
subscription-manager==1.30.6
superqt==0.7.3
sympy==1.13.3
systemd-python==235
tables==3.10.1
tabulate==0.9.0
Tempita==0.5.2
templated-dictionary==1.5
tensorboard==2.19.0
tensorboard-data-server==0.7.2
terminator==2.1.4
text-unidecode==1.3
textdistance==4.6.3
threadpoolctl==3.5.0
three-merge==0.1.1
tinycss2==1.3.0
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.12.4
tornado==6.3.3
tqdm==4.67.1
traitlets==5.14.3
Twisted==23.10.0
txaio==23.1.1
typing_extensions==4.12.2
tzlocal==5.2
ujson==5.10.0
uritemplate==4.1.1
urlgrabber==4.1.0
urllib3==1.26.20
virtualenv==20.21.1
wadllib==1.3.6
watchdog==3.0.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
whatthepatch==1.0.6
wrapt==1.17.1
wurlitzer==3.1.1
xarray==2024.10.0
xkbregistry==0.3
xlrd==2.0.1
XlsxWriter==3.2.3
yapf==0.40.2
yarl==1.9.4
zipp==3.20.0
zombie-imp==0.0.2
zope.interface==7.0.1
zstandard==0.23.0
